.projects {
  margin-top: 74px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #f6f9f9;
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 960px;
  }
  .projects-info {
    padding: 5px 10px;
    h1 { font-weight: 300; color: #333; font-size: 30px; }
    p { font-size: 15px; color: #777; font-weight: normal; margin-top: 5px; }
    margin-bottom: 30px;
    .projects-actions-container {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .projects-action {
        background-color: transparent;
        margin-right: 14px;
      }
      .project-action-item {
        margin: 0; padding: 0;
        margin-right: 20px;
        align-items: center;
        background-color: transparent;
        display: flex;
        color: $primary;
        p { margin: 0; margin-left: 5px; color: $primary; }
      }
    }
  }
  .projects-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px 10px;
    button {
      color: $primary;
      background-color: transparent;
      padding: 0 10px;
    }
  }
  .projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-item {
    width: 33%;
    padding: 5px;
    h3 { color: #333; font-weight: 600; font-size: 16px; }
  }
  .project-item-container {
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid #aaa;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    &.new {
      i { font-size: 50px; margin-bottom: 10px; }
      justify-content: center;
      align-items: center;
      color: $primary;
    }
  }
}
