.header{
    &-h1{
        font-size: 22px !important;
        font-weight: bold;
    }
    &-h2{
        font-size: 20px !important;
        font-weight: bold;
    }
    &-h3{
        font-size: 18px !important;
        font-weight: bold;
    }
    &-h4{
        font-size: 16px !important;
        font-weight: bold;
    }
    &-h5{
        font-size: 14px !important;
        font-weight: bold;
    }
}
