.common.button {
  display: flex;
  user-select: none;
  padding: 10px;
  background: $oc-gray-4;
  border: 1px solid $oc-gray-5;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  & + div {
    margin-left: 4px;
  }

  i {
    font-size: 18px;
  }

  &:active {
    background: $oc-gray-6;
  }
  @include material-shadow(1, 1);
  @include hover(){ 
    @include material-shadow(3, 1);
  }

  &.red {
    background: $oc-red-6;
    border: 1px solid $oc-red-7;
    &:active {
      background: $oc-red-8;
    }
  }
  
  &.blue {
    background: $oc-blue-6;
    border: 1px solid $oc-blue-7;
    &:active {
      background: $oc-blue-8;
    }
  }

  &.disabled {
    background: $oc-gray-3;
    border: 1px solid $oc-gray-5;
    &:active {
      background: $oc-gray-3;
    }
  }
}