.credentials-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid $oc-gray-5;
  background: $oc-gray-4;

  .filter {
    flex: 1;

    input {
      width: 370px;
      border-radius: 4px;

      &:focus {
        @include material-shadow(1, 1, $oc-blue-5);
      }
    }
  }

  .result {
    font-weight: 700;
  }
}