.credential-table {
  table {
    text-align: left;
    border: transparent;
    thead {
      background: $oc-gray-4;
      border: 1px solid $oc-gray-5;
      th {
        padding: 0 10px;
        border: 1px solid $oc-gray-5;
        border-width: 0 1px 1px;
      }
      th + th {
        border-left: none;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        user-select: none;
      }
    }
  }
}