.credentials-add-user {
  h1 { 
    color: $oc-gray-5;
  }

  .subTitle {
    border-bottom: 1px solid $oc-gray-5;
    padding: 5px 0;
  }

  .subDescription {
    padding: 5px 0;
    p {
      a {
        color: $oc-blue-5;
      }
    }
  }

  .input-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;

    .info {
      width: 100%;
      flex: 0.3;
      align-self: flex-start;
      display: flex;
      justify-content: flex-end;
      font-size: 1rem;
      font-weight: 700;
      padding: 5px 10px;
    }
    .input-box-wrapper {
      flex: 0.7;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      .input-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        input {
          width: 450px;
          border-radius: 4px;
          &:focus {
            @include material-shadow(1, 1, $oc-blue-5);
          }
        }
        & + div {
          margin-top: 10px;
        }
        i {
          margin: 0 5px;
        }
      }
      .check-box {
        display: flex;
        align-items: center;
        input {
          margin: 5px 10px;
          height: inherit;
          align-self: flex-start;
        }

        & + div {
          margin-top: 20px;
        }
      }
      .add-button {
        display: flex;
        align-items: center;
        color: $oc-blue-5;
        i {
          margin: 0 5px;
        }
      }
    }
  }

  .bottom-button-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    .required {
      flex: 1;
      display: flex;
      align-items: center;
    }
    .button-wrapper {
      display: flex;
      align-items: center;
      .cancel-button {
        color: $oc-blue-5;
        font-size: 1rem;
        margin-right: 10px;
      }
      .next-button {
        color: white;
        border-radius: 4px;
        background: $oc-blue-5;
        padding: 5px 10px;
        font-size: 1rem;
      }
    }
  }
}